:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --naranja--: rgba(185, 62, 69, 1);
  --blanco--: rgba(255, 255, 255, 1);
  --azul--: rgba(4, 107, 165, 1);
  --cielo--: rgba(191, 220, 238);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: var(--azul--);
}